*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: black;
    
}
h1{
    color:transparent ;
    text-align: center;
    font-size: 140px;
    background-image: url(https://i.pinimg.com/originals/14/e9/c1/14e9c1fa08891b41f23b7cdd02904c0e.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
}

h2{
    color: transparent;
    text-align: center;
    font-size: 140px;
    -webkit-text-stroke:2px red;
}