*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
     background-image: url("net.jpg");
   background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}
.logo img{
    width: 120px;
}
.navlinks a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

