*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    

}
.boxes{
  
   height: 200px;
   width: 200px;
    margin: 0px;
    padding: 0px;
     position: relative;
   object-fit: cover;
   overflow: hidden;
}
.boxes img{
    display: block;
    height: 100%;
    width: 100%;
    
}
/* .boxes:hover img{
    transform: rotate(12deg);
} */


.bottom{
    position: absolute;
    background-color: black;
    height: 40%;
    width: 100%;
    color: white;
    text-align: center;

    bottom: -40%;
    
    transition: bottom 0.5s ease;
    background: linear-gradient(transparent,black);
    
}
.boxes:hover .bottom{
    bottom: 0%
}
.bottom h4{
    color: white;
    margin: 8px;
}
.bottom h4 i{
    color: red;
   

}
.main
{
    display: flex;
    gap: 12px;
    justify-content: space-around;
    margin-top: 12px;

}