* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

main {

  width: 100%;
  

  section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top:1.2rem ;
    background-color: black;
    
    @media (min-width: 600px) {
      flex-direction: row;
     
    }
    

    .top {
      background-color: #151414;
      display: flex;
      
      

      .img-wrap {
        width: 100%;
        display: flex;
        padding-right:1.2em ;
        padding-left:1.7em ;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .bottom{
        width: 100vw;
        background-color: #2c2a2a;
        display: flex;
        flex-direction: column;
        color: white;
        padding: clamp(0.75rem, 2vw, 1.5rem);
        font-size: clamp(1rem, 2vw, 1.5rem);
        
        h3{
            font-size: 12px;
            font-weight: 200;
            margin-bottom: 1rem;
            opacity: 0.8;
            @media(min-width: 600px)
            {   
                height:30%
            }
            
        }
        h1{
            margin-top:3rem ;
            max-width: 100vw;
            font-size: 36px;
            font-weight: 200;
            @media(min-width: 600px)
            {
                font-size: 4rem;
            }
        }
        p{ 
            font-size: 20px;
            font-weight: 500;
            opacity: 0.5;
            max-width: 100vw;
        
        }
        button{
            margin-top: 2rem;
            font-size: 14px;
            padding: 0.7rem;
            border: none;
            border-radius: 4px;
            width: fit-content;
        }
    }
    
  }
  .history{
        background-color: #1a1a1a;
        color: white;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .prev{
            display: flex;
            justify-content: space-around;
            h3{
                font-size: 14px;
                font-weight: 200;
                opacity: 0.8;
            }
            h4{
                font-size: 16px;
                font-weight: 500;
                text-align: center;
            }

        }
        
    }
}
